:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffebe5;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
  }
   
  body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
    
  #app {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    justify-items: center;
  }

  .valores{
    margin: 5rem;
    font-weight: 500;
    margin-top: 1rem;
    display: flex;
  }


  .valores label{
    padding: 5px;
  }

  #calc {
    width: 350px;
  }

  .calc{
    background-color: #fab7be;
    border-radius: 10px;
    padding: 15px;
  }
   
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f67280;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 0.3rem 0.3rem;
  }

  button:hover {
    border-color: #202020;
  }


  #resultado{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin: 5px;
    font-size: 25px;
    background-color: white;
    color: black;
    font-weight: 600;
    text-align: right;
    padding-right: 5px;
  }

  #result-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  #result-table thead tr {
    background-color: #fab7be;
    border-radius: 10px;
    padding: 15px;
  }

  #result-table th,
  #result-table td {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f67280;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 0.3rem 0.3rem;
  }
